<div class="sale-item-wrapper">
  {{ sale.date | date:'mediumDate' }}
  <ion-card>
    <ion-card-header>
      <ion-row>
        <ion-col size="6">
          #{{ sale.code }}
        </ion-col>
        <ion-col size="6" class="ion-text-end">
          {{ sale.status }}
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="6">
          {{ sale.price | currency:'BRL' }}
        </ion-col>
        <ion-col size="6" class="ion-text-end">
          {{ sale.cashback | currency:'BRL' }}
          ({{ cashbackPercentage | number:'1.0-2' }}% de cashback)
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</div>