<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content color="secondary">
  <ion-grid fixed class="h-100">
    <div class="h-100 d-flex ion-align-items-center ion-justify-content-center">
      <form [formGroup]="form" (ngSubmit)="submit()" class="ion-padding ion-margin">
        <h2>Área exclusiva para login de Revendedores O Boticário</h2>
        <ion-list class="bg-transparent ion-margin-top">
          <!-- email -->
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input formControlName="email" type="email" placeholder="Digite aqui"></ion-input>
          </ion-item>
          <ion-label color="danger" class="error-message" *ngIf="email.invalid && email.dirty">
            <span *ngIf="email.errors.required">Este é um campo obrigatório</span>
            <span *ngIf="email.errors.email">Email inválido</span>
          </ion-label>
          <!-- password -->
          <ion-item class="ion-margin-top">
            <ion-label position="stacked">Senha</ion-label>
            <ion-input formControlName="password" type="password" placeholder="Digite aqui"></ion-input>
          </ion-item>
          <ion-label color="danger" class="error-message" *ngIf="password.invalid && password.dirty">
            <span *ngIf="password.errors.required">Este é um campo obrigatório</span>
          </ion-label>
          <ion-row class="ion-margin-top">
            <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="6" class="ion-no-padding">
              <ion-button expand="block" fill="outline" type="submit" (click)="goToSignUpPage()">
                <ion-label>Quero ser um revendedor</ion-label>
              </ion-button>
            </ion-col>
            <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="6" class="ion-no-padding">
              <ion-button expand="block" type="submit" [disabled]="form.invalid">
                <ion-label>Entrar</ion-label>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-list>
      </form>
    </div>
  </ion-grid>
</ion-content>
