ion-input {

}

ion-item.item-input {
  --border-width: .125rem;
  --border-style: solid;
  --border-color: var(--ion-color-light);
  --border-radius: .25rem;
  --highlight-height: 0px;
  --color: var(--ion-color-medium);

  &.ion-invalid.ion-dirty {
    --border-color: var(--ion-color-danger);
  }

  & + ion-label.error-message {
    font-size: 12px;
    font-weight: bold;
  }
}