<ion-header>
  <ion-toolbar color="secondary">
    <ion-title color="light" mode="ios">O Boticário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-grid fixed>
    <ion-row>
      <ion-col sizeXs="12" sizeSm="12" sizeMd="6" class="ion-padding-horizontal">
        <h1>
          Conquiste agora sua independência financeira
        </h1>
        <p>Faça seu cadastro para revender O Boticário e aumente sua renda.</p>
      </ion-col>
      <ion-col sizeXs="12" sizeSm="12" sizeMd="6">
        <form [formGroup]="form" (ngSubmit)="submit()" class="ion-margin">
          <h3 class="ion-padding-horizontal">Faça o seu cadastro online, é grátis e rápido!</h3>
          <ion-list class="ion-padding-horizontal">
            <!-- name -->
            <ion-item>
              <ion-label position="stacked">Nome e sobrenome</ion-label>
              <ion-input formControlName="name" placeholder="Digite aqui"></ion-input>
            </ion-item>
            <ion-label color="danger" class="error-message" *ngIf="name.invalid && name.dirty">
              <span *ngIf="name.errors.required">Este é um campo obrigatório</span>
            </ion-label>
            <!-- cpf -->
            <ion-item class="ion-margin-top">
              <ion-label position="stacked">CPF</ion-label>
              <ion-input formControlName="cpf" placeholder="Digite aqui" [ionMask]="MASKS.cpf.textMask"></ion-input>
            </ion-item>
            <ion-label color="danger" class="error-message" *ngIf="cpf.invalid && cpf.dirty">
              <span *ngIf="cpf.errors.required">Este é um campo obrigatório</span>
              <span *ngIf="cpf.errors.cpf">CPF incorreto</span>
            </ion-label>
            <!-- email -->
            <ion-item class="ion-margin-top">
              <ion-label position="stacked">Email</ion-label>
              <ion-input formControlName="email" type="email" placeholder="Digite aqui"></ion-input>
            </ion-item>
            <ion-label color="danger" class="error-message" *ngIf="email.invalid && email.dirty">
              <span *ngIf="email.errors.required">Este é um campo obrigatório</span>
              <span *ngIf="email.errors.email">Email inválido</span>
            </ion-label>
            <!-- password -->
            <ion-item class="ion-margin-top">
              <ion-label position="stacked">Senha</ion-label>
              <ion-input formControlName="password" type="password" placeholder="Digite aqui"></ion-input>
            </ion-item>
            <ion-label color="danger" class="error-message" *ngIf="password.invalid && password.dirty">
              <span *ngIf="password.errors.required">Este é um campo obrigatório</span>
            </ion-label>
            <!-- cpassword -->
            <ion-item class="ion-margin-top">
              <ion-label position="stacked">Confirmação de senha</ion-label>
              <ion-input formControlName="cpassword" type="password" placeholder="Digite aqui"></ion-input>
            </ion-item>
            <ion-label color="danger" class="error-message" *ngIf="cpassword.invalid && cpassword.dirty">
              <span *ngIf="cpassword.errors.required">Este é um campo obrigatório</span>
              <span *ngIf="cpassword.errors.mustMatch">Confirmação de senha está incorreta</span>
            </ion-label>
            <ion-row class="ion-margin-top">
              <ion-col sizeXs="12" sizeSm="6" sizeMd="12" sizeLg="12" sizeXl="6" class="ion-no-padding">
                <ion-button expand="block" fill="outline" type="submit" (click)="goToLoginPage()">
                  <ion-label class="ion-text-wrap">Já tenho cadastro</ion-label>
                </ion-button>
              </ion-col>
              <ion-col sizeXs="12" sizeSm="6" sizeMd="12" sizeLg="12" sizeXl="6" class="ion-no-padding">
                <ion-button expand="block" type="submit" [disabled]="form.invalid">
                  <ion-label>Cadastrar</ion-label>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-list>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
