<ion-header>
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <h1>Suas compras</h1>
      </ion-col>
      <ion-col size="6" class="ion-text-end">
        Saldo: {{ balanceTotal | currency:'BRL' }}
      </ion-col>
    </ion-row>

    <div>
      <app-sale-item *ngFor="let sale of sales" [sale]="sale"></app-sale-item>
    </div>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="presentAddSaleModal()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
